@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  margin: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.site-layout .site-layout-background {
  background: #fff;
  padding: 24;
  min-height: 360;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.ant-menu-item{
  margin-top: 0px !important;
}

.ant-pagination{
  margin-right: 10px !important;
}